.app.dark {
    --bg-color: #0f0f19;
    --inverted-bg-color: #ff61a6;
    --primary-color: #08f7fe;
    --secondary-color: #fe53bb;
    --inverted-primary-color: #0f0f19;
    --inverted-secondary-color: #f7dc0d;
}
