.AppLink {
    text-decoration: none;
    transition: color 1.2s ease, opacity 0.5s ease;

     &.primary {
        color: var(--inverted-primary-color);
    }

    &:hover {
        color: var(--inverted-secondary-color);
    }
    
    &.secondary {
        color: var(--secondary-color);
    }
    
    &.active {
       color: var(--inverted-secondary-color);
    }
}